*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

.text-main-color{
    color: var(--main-color);
}

.bg-main-color{
    background-color: var(--main-color);
}

:root{
    --main-color: #006CB7;
}

.navbar{
    background-color: var(--main-color) !important;
    box-shadow: 0 0 6px #00000066;
}

.navbar .nav-link{
    color: white !important;
    transition: 0.3s;
}

.navbar .nav-link:hover{
    transform: rotateZ(10deg);
}

.navbar .navbar-toggler{
    border: none;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.boxes{
    padding: 80px 0 50px;
    background-image: url(../imgs/bg-1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.boxes::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.753);
}

.boxes i{
    color: var(--main-color);
}

.boxes .btn{
    background-color: var(--main-color);
    z-index: 2;
}

.bundels{
    background-color: var(--main-color);
    padding: 80px 0;
}

.seperator{
    width: 60px;
    height: 3px;
    background-color: white;
    margin: auto;
}

.fa-check{
    color: lime;
}

.section-heading::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.section-heading::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 61.5px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    background-color: var(--main-color);
}

.products {
    padding: 80px 0;
}

.products .card img{
    border-radius: 5px;
}

.products .card h4{
    height: 54px;
}

.products .card .desc{
    height: 120px;
}

.products .section-heading::after{
    border: 2px solid var(--main-color);
    background-color: white;
}

.products .section-heading::before{
    background-color: var(--main-color);
}

.reviews{
    padding: 80px 0 ;
    background-color: var(--main-color);
}

.reviews .box{
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.253);
    max-width: 100%;
}


.reviews .box h3{
    margin: 0 0 10px;
}

.reviews .fa-star{
    color: #ffc107;
}


.reviews .box .comment{
    color: #777;
    line-height: 1.5;
    margin: 10px 0 0;
    font-size: 18px;
}


.footer{
    padding: 80px 0 10px;
    background-color: var(--main-color);
}