*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}

:root{
    --main-color: #006CB7;
}

.navbar{
    background-color: var(--main-color) !important;
    box-shadow: 0 0 6px #00000066;
}

.navbar .nav-link{
    color: white !important;
    transition: 0.3s;
}

.navbar .nav-link:hover{
    transform: rotateZ(10deg);
}

.navbar .navbar-toggler{
    border: none;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.boxes{
    padding: 80px 0 50px;
}

.boxes i{
    color: var(--main-color);
}

.boxes .btn{
    background-color: var(--main-color);
}

.bundels{
    background-color: var(--main-color);
    padding: 80px 0;
}

.seperator{
    width: 60px;
    height: 3px;
    background-color: white;
    margin: auto;
}

.fa-check{
    color: lime;
}

.section-heading::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 2px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.section-heading::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 61.5px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    background-color: var(--main-color);
}